*{
    margin: 0;
    padding: 0;
}

/*小黑条*/
#website{
    width: 100%;
    height: 25px;
    background-color: black;
}
.website{
    width: 86%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.huaweiWebsite{
    font-size: 12px;
    color: white;
    cursor: pointer;
    text-decoration: none;
}
.selectWhere{
    float: right;
    color: white;
    font-size: 12px;
    margin-right: 20px;
    margin-top: 3px;
    text-decoration: none;
}
.string{
    float: right;
    width: 1px;
    height: 23px;
    margin-right: 20px;
    background-color: white;
}
.huaweiLand{
    float: right;
    color: white;
    font-size: 12px;
    margin-right: 10px;
    margin-top: 3px;
    text-decoration: none;
}

/*小黑条下滑内容*/
.huaweiWebsite-hide{
    width: 100%;
    height: 170px;
    border: 1px solid gray;
    display: none;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 20px;
    min-width: 900px;
}
.huaweiWebsite-hide ul{
    list-style: none;
    width: 82%;
    margin: 50px auto;
}
.huaweiWebsite-hide ul li{
    width: 20%;
    display: inline-block;
    margin-left: 3%;
}
.huaweiWebsite-hideColor{
    color: orangered;
}
.selectWhere-hide{
    width: 100%;
    height: 300px;
    border: 1px solid gray;
    display: none;
    font-size: 14px;
}
.huaweiGlobalEnglish{
    margin-left: 6%;;
    margin-top: 32px;
}
.selectWhere-hide ul{
    list-style: none;
    width: 88%;
    margin: 18px auto;
}
.selectWhere-hide ul li{
    display: inline-block;
    width: 18%;
    margin-top: 19px;
}
.selectWhere-hide ul a{
    color: black;
}


/*导航栏*/
.huaweiLogo{
    width: 100%;
    height: 68px;
    box-shadow: 0 3px 3px #aaaaaa;
    z-index: 1;
    position: relative;
}
.logo{
    width: 86%;
    margin: 0 auto;
    overflow: hidden;
}
.logoPicture{
    width: 120px;
    height: 27px;
    margin-top: 20px;
    float: left;
}
.logoCenterRight{
    width: 80%;
    height: 68px;
    margin-left: 4%;
    float: left;
    overflow: hidden;
}
.logoLeft{
    float: left;
    width: 55%;
    height: 68px;
    display: inline-block;
    overflow: hidden;
}
.iphonePicture{
    float: left;
    width: 9%;
    height: 46px;
    margin-top: 9px;
}
.logoLeft ul{
    list-style: none;
}
.logoLeft ul li{
    display: inline-block;
    width: 43%;
    margin-top: 25px;
}
.logoLeft a{
    text-decoration: none;
    color: black;
}
.logoCenter{
    float: left;
    width: 37%;
    height: 68px;
}
.logoCenter ul{
    list-style: none;
}
.logoCenter ul li {
    display: inline-block;
    width: 40%;
    margin-top: 25px;
}
.logoCenter ul li a{
    text-decoration: none;
    color: black;
}
.logoSearch{
    float: left;
    width: 8%;
    height: 68px;
    font-size: 30px;
}
.logoSearchSearch{
    margin-top: 20px;
    cursor: pointer;
}
.logoSearchHide{
    display: none;
}

@media screen and (max-width: 1055px){
    .logoCenterRight{
        margin-left: 0;
    }
    .logoLeft{
        width: 60%;
    }
    .logoCenter{
        width: 33%;
    }
    .logoSearch{
        width: 6%;
    }

}
@media screen and (max-width: 968px) {
    #website{
        display: none;
    }
    .logoCenterRight{
        width: 50%;
        float: right;
    }
    .logoLeft{
        display: none;
    }
    .logoCenter{
        display: none;
    }
    .logoSearch{
        float: right;
        width: 40%;
        overflow: hidden;
    }
    .logoSearchSearch{
        display: block;
        float: right;
        margin-right: 15%;
    }
    .logoSearchHide{
        display: block;
        float: right;
        margin-top: 20px;
    }
}

/*导航条搜索切换*/
.logoHideSearch{
    box-shadow: 0 3px 3px #aaaaaa;
    width: 100%;
    display: none;
    height: 68px;
    z-index: 1;
    position: relative;
}
.logoSearchContent{
    width: 86%;
    height: 68px;
    margin: 0 auto;
    overflow: hidden;
}
.logoHidePicture{
    width: 120px;
    height: 27px;
    margin-top: 20px;
    float: left;
}
.logoHideInput{
    float: left;
    width: 330px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid darkgray;
    margin-left: 40%;
    margin-top: 16px;
    outline: none;
    font-size: 15px;
    padding-left: 20px;
}
.searchChange{
    float: left;
    margin-left: 89%;
    margin-top: -40px;
    cursor: pointer;
}

/*导航栏鼠标触碰 手机，笔记本 展现内容*/
.logoLeft-hide{
    width: 100%;
    height: 380px;
    background-color: #F4F3F0;
    overflow: hidden;
    display: none;
}
.logoLeft-hidePicture{
    float: left;
    margin-left: 7%;
    width:22%;
    height: 400px;
}
.logoLeft-hidePicture img{
    margin-top: 40px;
    width: 250px;
    height: 270px;
}
.knowMore{
    width: 150px;
    height: 45px;
    background-color: coral;
    border-radius: 7px;
    border-style: none;
    color: white;
    font-size: 19px;
    margin-left: 130px;
    margin-top: -40%;
}
.hide-tuBiao{
    float: left;
    width: 50%;
    height: 400px;
}
.hide-tuBiao ul{
    list-style: none;
    width: 100%;
    height: 150px;
}
.hide-tuBiao ul li{
    display: inline-block;
    width: 6%;
    height: 75px;
    margin: 25px 78px;
}
.hide-tuBiao p{
    margin-left: 40px;
    margin-top: 20px;
}
.hide-tuBiao a{
    text-decoration: none;
    color: black;
}
.hide-tuBiao a:hover{
    text-decoration: black;
}
.hide-tuBiao span{
    color: palevioletred;
}
.hide-help{
    float: left;
    width: 21%;
    height: 400px;
    line-height: 30px;
}
.hide-help p{
    font-size: 16px;
    color: black;
    margin-left: 30px;
}
.visit{
    margin-top: 60px;
}
.visit a{
    text-decoration: none;
    color: black;
}
.visit span{
    font-size: 15px;
    margin-left: 7px;
    color: palevioletred;
}


/*导航栏鼠标触碰 解决方案&服务 展现内容*/
.logoLeft-hideServe{
    width: 100%;
    height: 400px;
    background-color: #F4F3F0;
    display: none;
}
.hideServe-logo{
    width: 100%;
    height: 55px;
}
.hideServe-logo ul{
    width: 36%;
    height: 55px;
    margin: auto;
    list-style: none;
}
.hideServe-logo ul li{
    display: inline-block;
    margin-top: 17px;
    margin-left: 55px;
    color: #aaaaaa;
    cursor: pointer;
}
.hideString{
    width: 100%;
    height: 1px;
    background-color: #aaaaaa;
}
.content1-left{
    float: left;
    width: 30%;
    height: 344px;
}
.content1-leftUl{
    margin-left: 130px;
    list-style: none;
    height: 300px;
}
.content1-leftUl li{
    cursor: pointer;
    margin-top: 20px;
}
.content1-leftUl li span{
    color: palevioletred;
}
.hideContent-img{
    float: left;
    width: 30%;
    height: 344px;
    line-height: 25px;
}
.hideContent-img img{
    width: 200px;
    height: 200px;
    margin-left: 110px;
    margin-top: 30px;
    border-radius: 10px;
}
.imgSpan1{
    margin-left: 180px;
}
.imgSpan2{
    margin-left: 140px;
}
.hideContent-content{
    float: left;
    width: 40%;
    height: 344px;
    font-size: 15px;
    color: black;
}
.hideContent-content a{
    text-decoration: none;
    color: palevioletred;
}
.contentLeft{
    float: left;
    width: 55%;
    height: 300px;
    list-style: none;
}
.contentLeft li{
    margin-top: 20px;
    margin-left: 10px;
}
.contentRight{
    float: left;
    width: 45%;
    height: 300px;
    list-style: none;
}
.contentRight li{
    margin-top: 20px;
    margin-left: 10px;
}
.contentBottom{
    margin-left: 20px;
}
.contentBottom span{
    color: black;
}
.hideContent-help{
    float: left;
    width: 30%;
    height: 344px;
    background-color: #3a362e1a;
}
.hideContent-help ul{
    margin-top: 20px;
    list-style: none;
}
.hideContent-help ul li{
    line-height: 40px;
    margin-left: 20px;
}
.hideContent-help p{
    margin-top: 40px;
    margin-left: 20px;
}
.hideContent-help a{
    text-decoration: none;
    color: black;
}
.hideContent-help span{
    color: palevioletred;
}

/*轮播图*/
.imgBanner {
    width: 1200px;
    height: 520px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.imgBanner .imgTransparent{
    width: 12000px;
    height: 520px;
    position: absolute;
    left: 0;
    top: 0;
}
.imgBanner .imgTransparent .imgChange{
    width: 1200px;
    height: 520px;
}
.imgBanner .imgTransparent li{
    float: left;
}
.imgBanner .num {
    position: absolute;
    width: 100%;
    bottom: 100px;
    left: 400px;
    text-align: center;
}
.imgBanner .num li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid rgba(53, 53, 53, 0.84);
    display: inline-block;
    margin: 0 3px;
    cursor: pointer;
}
.imgBanner .num li.on {
    background-color: black;
}
.imgBanner .btn {
    width: 30px;
    height: 50px;
    opacity: 0.5;
    filter: alpha(opacity:0.5);
    position: absolute;
    top: 47%;
    margin-top: -25px;
    cursor: pointer;
    text-align: center;
    line-height: 50px;
    font-size: 50px;
    font-weight: bolder;
    color: orangered;
    display: none;
}
.imgBanner .btn_l {
    left: 10px;
}
.imgBanner .btn_r {
    right: 10px;
}
.imgBanner:hover .btn {
    display: block;
}
.imgTransparent1{
    width: 380px;
    height: 100px;
    margin-left: -1100px;
    margin-bottom: 340px;
}
.imgTransparent2{
    width: 450px;
    height: 130px;
    margin-left: -1100px;
    margin-bottom: 330px;
}

/*用户(轮播图上下方)*/
.bannerUser{
    width: 78%;
    height: 160px;
    background-color: white;
    box-shadow: 0 3px 10px #E8E8E8;
    position: relative;
    z-index: 99;
    border-radius: 5px;
    margin: -80px auto;
    overflow: hidden;
}
.bannerUserLeft{
    width: 33%;
    height: 160px;
    float: left;
}
.bannerUserContent{
    width: 80%;
    height: 100px;
    margin: 30px auto;
    overflow: hidden;
}
.bannerUser img{
    float: left;
    width: 25%;
    height: 90px;
}
.userContent{
    float: left;
    width: 65%;
    margin-left: 8%;
    line-height: 30px;
}
.bannerUserString{
    width: 1px;
    height: 120px;
    float: left;
    margin-top: 20px;
    background-color: #aaaaaa;
}
.bannerUserCenter{
    width: 32%;
    height: 160px;
    float: left;
}
.bannerUserRight{
    width: 33%;
    height: 160px;
    float: left;
}

/*轮播图上下方自适应*/
.bannerAdaption{
    width: 100%;
    height: 180px;
    background-color: white;
    box-shadow: 0 3px 10px #E8E8E8;
    position: relative;
    z-index: 99;
    border-radius: 5px;
    margin: -80px auto;
    overflow: hidden;
    display: none;
}
.bannerAdaption ul{
    list-style: none;
}
.bannerLi{
    width: 94%;
    height: 59px;
    margin: 0 auto;
    font-size: 16px;
}
.bannerLi i{
    float: right;
    color: black;
}
.bannerLi:hover{
    color: red;
}

.bannerString{
    width: 100%;
    height: 1px;
    background-color: black;
}

@media screen and (max-width: 768px){
    .bannerUser{
        display: none;
    }
    .bannerAdaption{
        display: block;
    }
}

/*未来影像*/
.futureMovie{
    width: 90%;
    height: 590px;
    margin-top: 150px;
    margin-left: 1%;
    overflow: hidden;
}
.movieLeft{
    float: left;
    width: 50%;
    height: 400px;
    border-radius: 3px;
    cursor: pointer;
    background-color: #2CB8E1;
}
.movieLeftContent{
    width: 40%;
    height: 300px;
    margin-top: 90px;
    margin-left: 26%;
    float: left;
}
.movieLogo{
    width: 100%;
    height: 40px;
}
.movieLeftContent p{
    line-height: 80px;
}
.movieLeftContent a{
    color: white;
    text-decoration: none;
}
.movieWordOne{
    font-size: 16px;
}
.movieWordTwo{
    font-size: 20px;
}
.movieLeftContent i{
    font-size: 23px;
    color: white;
    margin-left: 10px;
}
.movieLeftPicture{
    float: left;
    height: 500px;
    position: absolute;
    margin-left: 30%;
}
.moviePhone{
    width: 240px;
    height: 500px;
    margin-left: 10px;
    margin-top: 50px;
}
.moviePictureShadow {
    width: 200px;
    height: 80px;
    margin-left: 40px;
    margin-top: -35px;
}
.movieWordThree{
    font-size: 5px;
}
.movieLeft:hover .knowMoreArrow{
    transform: translateX(10px);
    transition: all 0.3s;
}
.movieLeft:hover .moviePhone{
    transform: translateY(-20px);
    transition: all 0.3s;
}
.movieLeft:hover .moviePictureShadow{
    transform: translateY(20px);
    transition: all 0.3s;
}
.movieRight:hover .knowMoreArrow2{
    transform: translateX(10px);
    transition: all 0.3s;
}
.movieRight{
    float: left;
    width: 36%;
    height: 590px;
    margin-left: 14%;
    border-radius: 7px;
    background-color: #d4e3e6;
    cursor: pointer;
}

.movieRightTop img{
    width: 100%;
    border-radius: 7px 7px 0 0;
}
.movieRightTop p{
    margin-top: 10px;
    line-height: 45px;
    margin-left: 15%;
}
.movieRightTop a{
    text-decoration: none;
    color: black;
}
.movieWordFour{
    font-size: 13px;
    color: #cccccc;
}
.movieWordFive{
    font-size: 25px;
}
.movieWordSeven{
    font-size: 21px;
}
.knowMoreArrow2{
    font-size: 25px;
    margin-left: 10px;
}
@media screen and (max-width: 1079px){
    .futureMovie {
        width: 96%;
        margin-left: 0;
    }
    .movieLeft{
        width: 60%;
    }
    .movieLeftContent{
        margin-left: 20%;
    }
    .movieLeftPicture{
        margin-left: 35%;
    }
    .movieRight{
        margin-left: 3%;
    }
}
@media screen and (max-width: 889px) {
    .futureMovie{
        height: 1050px;
    }
    .movieLeft{
        width: 93%;
    }
    .movieLeftContent{
        width: 30%;
        margin-left: 40%;
    }
    .movieLeftPicture{
        margin-left: 69%;
    }
    .movieRight{
        width: 48%;
        margin-top: 200px;
        margin-left: 26%;
    }
    .movieLeft:hover .knowMoreArrow{
        transform: none;
    }
    .movieLeft:hover .moviePhone{
        transform: none;
    }
    .movieLeft:hover .moviePictureShadow{
        transform: none;
    }
}
@media screen and (max-width: 689px) {
    .futureMovie{
        margin-top: 240px;
        width: 100%;
    }
    .movieLeft{
        height: 500px;
        width: 100%;
    }
    .movieLeftContent{
        margin-left: 5%;
        margin-top: 280px;
        width: 35%;
    }
    .movieWordTwo{
        display: none;
    }
    .knowMoreArrow{
        display: none;
    }
    .movieLeftPicture{
        margin-left: 40%;
        margin-top: -150px;
    }
    .movieRight{
        width: 100%;
        margin-top: 50px;
        margin-left: 0;
        height: 500px;
    }
    .movieRightTop p{
        text-align: center;
        line-height: 35px;
    }
    .movieWordSeven{
        display: none;
    }
    .knowMoreArrow2{
        display: none;
    }
}

/*前所未见*/
.neverSee{
    width: 100%;
    height: 480px;
    margin-top: 100px;
}
.neverSeePicture{
    z-index: -1;
    position: relative;
    width: 100%;
}
.neverSeeWord{
    position: absolute;
    z-index: 1;
    margin-left: 60%;
    margin-top: -480px;
}
.neverSeeKnowMore{
    color: black;
    font-size: 23px;
    position: absolute;
    margin-top: -230px;
    margin-left: 68%;
    cursor: pointer;
}
.neverSeeArrow{
    font-size: 25px;
    margin-left: 15px;
}
.neverSeeKnowMore:hover .neverSeeArrow{
    transform: translateX(20px);
    transition: all 0.2s;
}
@media screen and (max-width: 1200px){
    .neverSee{
        display: none;
    }
}
@media screen and (max-width: 689px){
    .neverSee{
        display: block;
        height: 300px;
        width: 100%;
        margin-top: 200px;
    }
    .neverSeePicture{
        width: 100%;
        height: 400px;
        overflow: hidden;
    }
    .neverSeeWord{
        margin-top: -570px;
        margin-left: 6%;
        width: 300px;
    }
    .neverSeeKnowMore{
        display: none;
    }
}

/*展会活动*/
.activity{
    width: 90%;
    height: 500px;
    margin: 200px auto;
}
.activityLogo{
    width: 100%;
    height: 50px;
    overflow: hidden;
}
.activityLogoLeft{
    font-size: 38px;
}
.activityLogoRight{
    margin-left: 70%;
    font-size: 23px;
}
.activityLogoArrow{
    margin-left: 20px;
}
.activityLogoRight:hover .activityLogoArrow{
    transform: translateX(20px);
    transition: all 0.2s;
}

/*展会活动轮播图*/
.activityBanner {
    width: 1100px;
    height: 640px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
}
.activityBannerChange{
    width: 11000px;
    height: 640px;
    position: absolute;
    left: 0;
    top: 0;
}
.activityLiLeft{
    width: 1100px;
    height: 560px;
    overflow: hidden;
}
.activityBannerChange li{
    float: left;
}
.activityNum {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: center;
}
.activityNum li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid rgba(53, 53, 53, 0.84);
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
}
.activityNum li.on {
    background-color: black;
}
.activityBtn {
    width: 30px;
    height: 50px;
    opacity: 0.5;
    filter: alpha(opacity:0.5);
    position: absolute;
    top: 47%;
    margin-top: -25px;
    cursor: pointer;
    text-align: center;
    line-height: 50px;
    font-size: 50px;
    font-weight: bolder;
    color: orangered;
    display: none;
}
.activityBtn_l {
    left: 10px;
}
.activityBtn_r {
    right: 10px;
}
.activityBanner:hover .activityBtn {
    display: block;
}

.activityLiLeftContent{
    width: 600px;
    height: 480px;
    margin-top: 100px;
    background-color: #DCE6EE;
    border-radius: 5px 0 0 5px;
    float: left;
}
.activityWord{
    width: 400px;
    height: 300px;
    margin: 60px auto;

}
.activityWordStyle{
    font-size: 13px;
    color: #aaaaaa;
}
.activityWord b{
    font-size: 27px;
}
.activityWord p{
    line-height: 30px;
    font-size: 17px;
}
.activityKnowMore{
    font-size: 22px;
}
.activityKnowMore i{
    margin-left: 15px;
    font-size: 25px;
}
.activityPicture{
    margin-left: 600px;
    width: 500px;
    height: 560px;
    margin-top: 50px;
    border-radius: 7px;
}
.activityPicture img {
    border-radius: 7px;
}
.activityEllipsis{
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
   /*文字超出一行，省略超出部分，显示’…’
    white-space: nowrap;*/

    /*文字超出多行，省略超出部分，显示’…’ */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}

/*成功故事*/
.successStory{
    width: 90%;
    height: 530px;
    margin: auto;
}
.successStoryLogo{
    width: 96%;
    height: 48px;
    margin: 0 auto;
    overflow: hidden;
}
.successStoryLogoLeft{
    float: left;
    font-size: 37px;
}
.successStoryLogoRight{
    float: left;
    font-size: 22px;
    margin-left: 73%;
    margin-top: 9px;
}
.successStoryLogoRight i{
    margin-left: 10px;
}
.successStoryLogoRight:hover .successLogoI{
    transform: translateX(10px);
    transition: all 0.2s;
}
.successStoryPicture{
    width: 96%;
    height: 400px;
    margin-left: 2%;
    margin-top: 65px;
    /*overflow: hidden;*/
}
.successStoryPictureContent{
    width: 30%;
    height: 400px;
    background-color: #DDE6ED;
    float: left;
    border-radius: 7px 7px 0 0;
    cursor: pointer;
}
.content2{
    margin-left: 5%;
}
.successStoryPictureContent img{
    width: 100%;
    border-radius: 7px 7px 0 0;
}
.storyPictureWord{
    width: 80%;
    height: 180px;
    margin: 30px auto;
}
.storyPictureWord b{
    font-size: 20px;
}
.story{
    font-size: 13px;
    color: #8d8d8d;
}
.successMore{
    font-size: 23px;
}
.knowMoreArrow4{
    margin-left: 10px;
}
.knowMoreArrow5{
    margin-left: 10px;
}
.knowMoreArrow6{
    margin-left: 10px;
}
.content1:hover .successPicture1{
    transform: translateX(-25px);
}
.content2:hover .successPicture2{
    transform: translateX(-25px);
}
.content3:hover .successPicture3{
    transform: translateX(-25px);
}
.content1:hover .knowMoreArrow4{
     transform:translateX(10px);
    transition: all 0.2s;
}
.content2:hover .knowMoreArrow5{
    transform:translateX(10px);
    transition: all 0.2s;
}
.content3:hover .knowMoreArrow6{
    transform:translateX(10px);
    transition: all 0.2s;
}
@media screen and (max-width: 889px){
    .successStoryPicture{
        margin-top: 40px;
    }
    .successStory{
        width: 100%;
        height: 413px;
    }
    .successStoryPicture{
        height: 300px;
    }
    .successStoryPictureContent{
        width: 31%;
        height: 300px;
    }
    .storyPictureWord{
        height: 130px;
        width: 88%;
        margin-top: 15px;
    }
    .storyPictureWord b{
        line-height: 28px;
    }
    .content2{
        margin-left: 3%;
    }
    .successBr{
        display: none;
    }
    .content1:hover .successPicture1{
        transform: none;
    }
    .content2:hover .successPicture2{
        transform: none;
    }
    .content3:hover .successPicture3{
        transform: none;
    }
    .content1:hover .knowMoreArrow4{
        transform:none;
    }
    .content2:hover .knowMoreArrow5{
        transform:none;
    }
    .content3:hover .knowMoreArrow6{
        transform:none;
    }
}
@media screen and (max-width: 689px){
    .successStory{
        height: 600px;
    }
    .successStoryPicture{
        width: 94%;
        margin-left: 3%;
        height: 135px;
    }
    .successStoryPictureContent{
        width: 100%;
        height: 137px;
        border-radius: 5px;

    }
    .content2{
        margin-top: 40px;
        margin-left: 0;
    }
    .successStoryPictureContent img{
        width: 40%;
        float: right;
        height: 137px;
        margin-right: 2%;
    }
    .storyPictureWord{
        width: 96%;
    }
    .story{
        font-size: 12px;
    }
    .storyPictureWord b{
        font-size: 16px;
    }
    .successMore{
        display: none;
    }
}

/*近期新闻*/
.news{
    width: 90%;
    margin-top: 70px;
    margin-left: 5%;
    height: 590px;
}
.newsLogo{
    width: 95%;
    height: 50px;
    margin: 0 auto;
    overflow: hidden;
}
.newsLogo b{
    font-size: 38px;
    float: left;
}
.newsLogoRight{
    font-size: 23px;
    float: left;
    margin-left: 71%;
    margin-top: 8px;
    cursor: pointer;
}
.newsLogo i{
    font-size: 25px;
    margin-left: 10px;
}
.newsLogoRight:hover .newsLogoRight i{
    transform:translateX(10px);
    transition: all 0.2s;
}
.newsContent{
    width: 100%;
    height: 480px;
    margin-top: 60px;
    overflow: hidden;
}
.newsContentLeft{
    float: left;
    width: 350px;
    height: 480px;
    margin-left: 5%;
    background-color: #DDE6ED;
    border-radius: 7px 7px 7px 7px;
    cursor: pointer;
}
.newsContentLeft:hover .newsMore i{
    transform:translateX(10px);
    transition: all 0.2s;
}
.newsContentLeft img{
    width: 100%;
    height: 220px;
    border-radius: 7px 7px 0 0;
}
.newsContentLeftPicture{
    width: 80%;
    height: 200px;
    margin: 25px auto;
}
.newsWord{
    font-size: 13px;
    color: #717171;
}
.newsContentHide{
    display: none;
}
.newsContentLeftPicture b{
    font-size: 20px;
}
.newsContentLeftPicture span{
    line-height: 30px;
}
.newsMore{
    font-size: 23px;
}
.newsMore i{
    margin-left: 10px;
}
.newsContentRight{
    float: left;
    width: 40%;
    height: 350px;
    margin-left: 10%;
}
.newsRightWord{
    font-size: 14px;
    color: #717171;
}
.newsRightWord2{
    font-size: 16px;
}
.newsRightWord2 a{
    text-decoration: none;
    color: black;
}
.newsRightWord2 a:hover{
    text-decoration: underline;
}
.newsContentRight span{
    line-height: 25px;
}
@media screen and (max-width: 1078px){
    .newsLogoRight{
        margin-left: 60%;
    }
    .newsContentLeft{
        width: 50%;
        margin-left: 0;
    }
    .newsContentRight{
        margin-left: 5%;
    }
}
@media screen and (max-width: 689px) {
    .news{
        width: 100%;
        height: 880px;
        margin-left: 0;
    }
    .newsContent{
        width: 100%;
        height: 940px;
    }
    .newsContentLeft{
        width: 100%;
        height: 440px;
    }
    .newsContentLeft img{
        width: 100%;
        border-radius: 0;
        height: 200px;
    }
    .newsContentLeftPicture{
        width: 100%;
        text-align: center;
    }
    .newsWord{
        margin: 0 auto;
    }
    .newsContentLeftPicture span b{
        font-size: 17px;
    }
    .newsContentHide{
        display: block;
        line-height: 20px;
        margin-top: 10px;
    }

    .newsMore{
        display: none;
    }
    .newsContentRight{
        height: 390px;
        width: 100%;
        margin-left: 2%;
        margin-top: 60px;
    }
}
/*结尾*/
.foot{
    width: 100%;
    height: 750px;
    background-color: #F0F0F0;
    margin-top: 100px;
    overflow: hidden;
}
.about{
    width: 85%;
    height: 320px;
    display: inline-block;
    margin-top: 70px;
    margin-left: 0;
    overflow: hidden;
    float: left;
}
.entranceWebsite{
    width: 85%;
    height: 120px;
    margin-top: 40px;
    margin-left: 0;
    overflow: hidden;
}
.otherWay{
    width: 4%;
    height: 200px;
    margin-top: 70px;
    float: left;
}
.otherWay i{
    font-size: 25px;
    line-height: 40px;
    margin-left: 25%;
}
.aboutBranchLi{
    float: left;
    width: 15%;
    height: 280px;
    margin-left: 10%;
}
.aboutArrow{
    margin-left: 10px;
}
.aboutBranchLi p{
    margin-top: 13px;
}
.aboutBranchLi a{
    text-decoration: none;
    color: black;
}
.aboutBranchLi a:hover{
    text-decoration:underline;
}
.entranceWebsiteLogo{
    width: 97%;
    height: 40px;
    margin-left: 10%;
}
.aboutBranchWebsite{
    float: left;
    width: 15%;
    height: 40px;
    margin-left: 10%;
}
.aboutBranchWebsite p{
    margin-top: 13px;
}
.aboutBranchWebsite p a{
    text-decoration: none;
    color: black;
}
.aboutBranchWebsite p a:hover{
    text-decoration: underline;
}
.aboutBranchWebsite i{
    font-size: 18px;
    margin-left: 10px;
}
.footBlack{
    width: 100%;
    height: 40px;
    background-color: black;
    overflow: hidden;
}
.company{
    float: left;
    color: white;;
    font-size: 14px;
    margin-left: 8%;
    margin-top: 10px;
}
.contact{
    float: left;
    color: white;
    font-size: 14px;
    margin-top: 10px;
    margin-left: 45%;
}
@media screen and (max-width: 990px){
    .foot{
        height: 1110px;
    }
    .about{
        width: 100%;
        height: 650px;
        margin-top: 120px;
    }
    .aboutBranchLi{
        float: none;
        width: 100%;
        height: 160px;
        margin-left: 1%;
        margin-top: 10px;
    }
    .aboutBranchLi1{
        height: 180px;
    }
    .aboutBranchLi2{
        height: 150px;
    }
    .aboutBranchLi3{
        height: 120px;
    }
    .aboutBranchLi4{
        height: 120px;
    }
    .aboutBranchLogo{
        margin-left: 0;
    }
    .aboutBranchLi p{
        float: left;
        width: 50%;
    }
    .otherWay{
         width: 100%;
         height: 40px;
         margin-left: 0;
         margin-top: -720px;
     }
    .otherWay i{
        margin-left: 25px;
        float: left;
        font-size: 28px;
    }
    .entranceWebsite{
        width: 100%;
        margin-left: 1%;
    }
    .entranceWebsiteLogo{
        margin-left: 0;
    }
    .aboutBranchWebsite{
        width: 25%;
        margin-left: 0;
    }
    .company{
        width: 80%;
        text-align: center;
        color: black;
    }
    .contact{
        display: none;
    }
    .footBlack{
        background-color: #F0F0F0;
    }
}
@media screen and (max-width: 768px){
    .foot{
        height: 1200px;
    }
    .entranceWebsite{
        height: 160px;
    }
    .aboutBranchWebsite{
        width: 50%;
        height: 40px;
    }
}